# PYTHON DATETIME

A Python Module for working with `Dates` and `Times`

---

Import `Datetime` Module

In [2]:
import datetime

Create `Date Object`

`Notice: Python Date Objects contain year, month and day`

In [3]:
# Today
d0 = datetime.date.today()
print(d0)
print(type(d0))

2021-02-24
<class 'datetime.date'>

In [5]:
# Another Date
d1 = datetime.date(2030, 1, 1)
print(d1)

2030-01-01

Create `Datetime Object`

`Notice: Python Datetime Objects contain year, month, day, hour, minute, second and microsecond`

In [6]:
# Now
dt0 = datetime.datetime.now()
print(dt0)
print(type(dt0))

2021-02-24 18:55:45.691646
<class 'datetime.datetime'>

In [160]:
# Another Datetime
dt1 = datetime.datetime(2030, 1, 1, 12, 30)
print(dt1)

2030-01-01 12:30:00

Create `Time Object`

In [7]:
t0 = datetime.time(18, 0, 0)
print(t0)
print(type(t0))

18:00:00
<class 'datetime.time'>

Return `Date` / `Datetime` / `Time` Attributes

In [162]:
# Year
print(dt0.year)

# Month
print(dt0.month)

# Day
print(dt0.day)

# Hour
print(dt0.hour)

# Minutes
print(dt0.minute)

# Seconds
print(dt0.second)

# Microseconds
print(dt0.microsecond)

2021
2
23
22
42
50
419413

In [163]:
# Weekday (0=Monday ... 6=Sunday)
print(dt0.weekday())

# Iso Weekday (1=Monday ... 7=Sunday)
print(dt0.isoweekday())

1
2

Replace `Date` / `Datetime` / `Time` Attributes

In [164]:
print(d1)
d1 = d1.replace(year=2050, month=6, day=30)
print(d1)

2030-01-01
2050-06-30

In [165]:
# By the Way...
d1.replace(day=31)

ValueError: day is out of range for month

Return `String` from `Date` / `Datetime` / `Time` Object

In [166]:
# Iso Format
s = dt0.isoformat()
print(s)
print(type(s))

2021-02-23T22:42:50.419413
<class 'str'>

In [167]:
# Iso Format, too
s = dt0.__str__()
print(s)
print(type(s))

2021-02-23 22:42:50.419413
<class 'str'>

In [168]:
# Ctime Format
s = dt0.ctime()
print(s)
print(type(s))

Tue Feb 23 22:42:50 2021
<class 'str'>

In [169]:
# Your Own Format
# - - - - - - - - - 
# %a = Weekday
# %b = Month
# %d = Day
# %H = Hours
# %M = Minutes
# %S = Seconds
# %Y = Year
# - - - - - - - - - 
s = datetime.datetime.strftime(dt0, '%a, %b %drd %Y %H:%M:%S')
print(s)
print(type(s))

Tue, Feb 23rd 2021 22:42:50
<class 'str'>

Return `Date` / `Datetime` / `Time` Object from `String`

In [170]:
dt = datetime.datetime.strptime(s, '%a, %b %drd %Y %H:%M:%S')
print(dt)

2021-02-23 22:42:50

Calculate with `Date` / `Datetime` / `Time` and `Timedelta`

In [185]:
today = datetime.date.today()

my_birthday = datetime.date(1988, 12, 5)

# My Age in Days
my_age_in_days = today - my_birthday

print(type(my_age_in_days))
print(my_age_in_days.days, 'Days since my Birthday')

# My Age in Months
print(round(my_age_in_days.days / 12, 1), 'Months since my Birthday')

# My Age in Years
print(round(my_age_in_days.days / 365, 1), 'Years since my Birthday')

<class 'datetime.timedelta'>
11768 Days since my Birthday
980.7 Months since my Birthday
32.2 Years since my Birthday

In [194]:
# My 100th Day on Earth was...
print('My 100th Day on Earth was', my_birthday + datetime.timedelta(days=100))

My 100th Day on Earth was 1989-03-15

In [197]:
# My First Sunday on Earth was on...
wd_birthday = my_birthday.isoweekday()
wd_sunday = 7

print('My First Sunday on Earth was on', my_birthday + datetime.timedelta(wd_sunday - wd_birthday))

My First Sunday on Earth was on 1988-12-11