# Python Data Types

* **Text Type**:       `str` (String)

* **Numeric Types**:   `int` (Integer)  |  `float` (Floating Point Number)

* **Boolean Type**:   `bool` (Boolean)

* **Sequence Types**:   `list` (List)  |  `tuple` (Tuple)

* **Mapping Type**:   `dict` (Dictionary)

---

### `String`

**Assign Text to a Variable**

In [2]:
s = "Hello, Python!"

print(s)
print(type(s))

Hello, Python!
<class 'str'>

**Assign Multiline Text** to a Variable

In [3]:
sml = """Hello, Python!
Hello, Python!
Hello, Python!"""

print(sml)

Hello, Python!
Hello, Python!
Hello, Python!

**Access a Single Character** from a String using `[index]`

`Note: The First Character has Index Zero`

In [4]:
print(s[0])
print(s[0], "-", s[1], "-", s[2], "-", s[3], "-", s[4])

H
H - e - l - l - o

**Access a Slice of Characters** from a String using `[start_index : end_index]`

`Note: 'end_index' is always excluded`

In [5]:
print(s[0:4])
print(s[0:5])

Hell
Hello

**Slice from the Start**

In [6]:
print(s[:5])

Hello

**Slice to the End**

In [7]:
print(s[5:])

, Python!

**Slice with Negative Indices**

In [8]:
print(s[:-1])
print(s[-1:])
print(s[-7:])
print(s[-7:-5])

Hello, Python
!
Python!
Py

**Return the Length** of a String

In [9]:
print(len(s))

14

### `Integer and Float`

**Assign an Integer** to a Variable

In [10]:
x = 1
print(x)
print(type(x))

1
<class 'int'>

**Assign a Floating Point Number** to a Variable

In [11]:
x = 1.0
print(x)
print(type(x))

1.0
<class 'float'>

Floating Point Number can also be a **Scientific Number with an 'e' indicating the power of 10**

In [12]:
x = 1e-1
print(x)
print(type(x))

y = 1e-10
print(y)
print(type(y))

z = 1e6
print(z)
print(type(z))

0.1
<class 'float'>
1e-10
<class 'float'>
1000000.0
<class 'float'>

**Convert Integer to Floating Point Number**

In [13]:
x = 1
print(x)
print(type(x))

y = float(x)
print(y)
print(type(y))

1
<class 'int'>
1.0
<class 'float'>

**Convert Floating Point Number to Integer**

In [14]:
x = 1.0
print(x)
print(type(x))

y = int(x)
print(y)
print(type(y))

1.0
<class 'float'>
1
<class 'int'>

In [15]:
x = 1.75
print(x)
print(type(x))

y = int(x)
print(y)
print(type(y))

1.75
<class 'float'>
1
<class 'int'>

**Cast Integer or Floating Point Number from String**

In [16]:
x = int("1")
print(x)
print(type(x))

y = float("1.75")
print(y)
print(type(y))

# Will raise an Error
z = int("1.75")
print(z)
print(type(z))

1
<class 'int'>
1.75
<class 'float'>

ValueError: invalid literal for int() with base 10: '1.75'

**Cast String from Integer or Floating Point Number**

In [17]:
s = str(1)
print(s)
print(type(s))

t = str(1.75)
print(t)
print(type(t))

u = str(1e10)
print(u)
print(type(u))

1
<class 'str'>
1.75
<class 'str'>
10000000000.0
<class 'str'>

## `Boolean`

Boolean Type indicates if something is either `True` or `False`

**Assign a Boolean** to a Variable

In [18]:
b = True
print(b)
print(type(b))

f = False
print(f)
print(type(f))

True
<class 'bool'>
False
<class 'bool'>

**Evaluate an Expression** and **return Boolean Answer**

In [19]:
x = 1
y = 1
print(x == y)

s = "a"
t = "b"
print(s == t)

True
False

## `List`

* Sequence Type used to store multiple Items in a single Variable
* Items in a List are **changeable**
* Lists are written with Square Brackets `[ ]`

**Create a List** using `[ ]`

In [20]:
list1 = ["1", "2", 3, 4, 5.0, 6.0, True, False]
print(list1)
print(type(list1))

['1', '2', 3, 4, 5.0, 6.0, True, False]
<class 'list'>

**Access a Single Item** from a List using `[index]`

`Remember: The First Item has Index Zero`

In [21]:
# First Item
print(list1[0])
print(type(list1[0]))

# Third Item
print(list1[2])
print(type(list1[2]))

# Fifth Item
print(list1[4])
print(type(list1[4]))

# Seventh Item
print(list1[6])
print(type(list1[6]))

1
<class 'str'>
3
<class 'int'>
5.0
<class 'float'>
True
<class 'bool'>

**Access a Slice of Items** from a List using `[start_index : end_index]`

`Remember: 'end_index' is always excluded`

In [22]:
# First two Items
print(list1[:2])
print(type(list1[:2]))

# Last two Items
print(list1[-2:])
print(type(list1[-2:]))

# Third to Sixth Item
print(list1[2:6])
print(type(list1[2:6]))

['1', '2']
<class 'list'>
[True, False]
<class 'list'>
[3, 4, 5.0, 6.0]
<class 'list'>

**Assign a Slice of Items** to a **New List**

In [23]:
list2 = list1[:2]
print(list2)

['1', '2']

**Change Items** of a List

In [24]:
print(list1)
# Change one Item
list1[0] = "Text1"
print(list1)

['1', '2', 3, 4, 5.0, 6.0, True, False]
['Text1', '2', 3, 4, 5.0, 6.0, True, False]

In [25]:
# Change multiple Items
list1[1:6] = ["Text2", "Text3", "Text4", "Text5", "Text6"]
print(list1)

['Text1', 'Text2', 'Text3', 'Text4', 'Text5', 'Text6', True, False]

In [26]:
# Insert less Items than you replace will delete items
list1[1:6] = ["Text2", "Text3"]
print(list1)

['Text1', 'Text2', 'Text3', True, False]

In [27]:
# Insert more Items than you replace will add items
list1[1:3] = ["Text2", "Text3", "Text4", "Text5", "Text6"]
print(list1)

['Text1', 'Text2', 'Text3', 'Text4', 'Text5', 'Text6', True, False]

**Add New Items** to a List using `insert`and `append`

In [28]:
list1.insert(0, "Inserted")
print(list1)

['Inserted', 'Text1', 'Text2', 'Text3', 'Text4', 'Text5', 'Text6', True, False]

In [29]:
list1.insert(3, "Inserted")
print(list1)

['Inserted', 'Text1', 'Text2', 'Inserted', 'Text3', 'Text4', 'Text5', 'Text6', True, False]

In [30]:
list1.append("Appended")
print(list1)

['Inserted', 'Text1', 'Text2', 'Inserted', 'Text3', 'Text4', 'Text5', 'Text6', True, False, 'Appended']

**Remove Items** from a List using `remove`, `pop`, `del` or `clear`

In [31]:
# Remove specified Item
list1.remove("Inserted")
print(list1)

['Text1', 'Text2', 'Inserted', 'Text3', 'Text4', 'Text5', 'Text6', True, False, 'Appended']

In [32]:
# Remove Item with specified Index
list1.pop(2)
print(list1)

['Text1', 'Text2', 'Text3', 'Text4', 'Text5', 'Text6', True, False, 'Appended']

In [33]:
# Remove last Item
list1.pop()
print(list1)

['Text1', 'Text2', 'Text3', 'Text4', 'Text5', 'Text6', True, False]

In [34]:
# Remove specified Items
del list1[-2:]
print(list1)

['Text1', 'Text2', 'Text3', 'Text4', 'Text5', 'Text6']

In [35]:
# Remove all Items
list1.clear()
print(list1)

[]

In [36]:
# Delete a List
del list1
# Will raise an Error because the List doesn't exist anymore
print(list1)

NameError: name 'list1' is not defined

**Sort** Lists using `sort`

In [37]:
# List with Numeric Values
list3 = [3, 5, 4, 1, 2]
print(list3)

# Ascending
list3.sort()
print(list3)

# Descending
list3.sort(reverse=True)
print(list3)

[3, 5, 4, 1, 2]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [38]:
# List with String Values
list4 = ["C", "b", "a"]
print(list4)

# Case-sensitive
list4.sort()
print(list4)

# Case-insensitive
list4.sort(key=str.lower)
print(list4)

['C', 'b', 'a']
['C', 'a', 'b']
['a', 'b', 'C']

In [39]:
# Reverse Current Order
list5 = ["Ready", "Learning", "Machine"]
list5.reverse()
print(list5)

['Machine', 'Learning', 'Ready']

**Copy** a List using `copy`

In [40]:
listA = [1, 2, 3, 4, 5]

# This does NOT! give a Copy, but only a Reference to ListA
listB = listA
# Changes in ListA will affect ListB as well
listA.append(6)
print(listB)

[1, 2, 3, 4, 5, 6]

In [41]:
# For a Real Copy use copy()
listB = listA.copy()
# Changes in ListA now will NOT! affect ListB
listA.append(7)
print(listB)

[1, 2, 3, 4, 5, 6]

**Join** Lists using `+`

In [42]:
listA = [1, 2, 3]
listB = [4, 5, 6]
listC = listA + listB
print(listC)

[1, 2, 3, 4, 5, 6]

**Return the Length (the Number of Items)** of a List using `len`

In [43]:
print(len(listA))
print(len(listC))

3
6

## `Tuple`

* Sequence Type used to store Multiple Items in a Single Variable

* Items in a Tuple a **unchangeable**

* Tuples are written with Round Brackets `( )`

**Create a Tuple** using `( )`

In [44]:
# Tuple with Multiple Items
tuple1 = (1, 2, 3, 4, 5)
print(tuple1)
print(type(tuple1))

# Tuple with One Item
tuple2 = (1,)
print(tuple2)
print(type(tuple2))

# This gives an Integer
no_tuple = 1
print(no_tuple)
print(type(no_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>
(1,)
<class 'tuple'>
1
<class 'int'>

Once a Tuple is created, you can **not change, add or remove Items**

In [45]:
# Will raise an Error
tuple2.append(2)

AttributeError: 'tuple' object has no attribute 'append'

**Access a Single Item** from a Tuple using `[index]`

`Remember: The First Item has Index Zero`

In [46]:
# First Element
print(tuple1[0])

# Second Element
print(tuple1[1])

# Last Element
print(tuple1[-1])

1
2
5

**Access a Slice of Items** from a Tuple using `[start_index : end_index]`

`Remember: 'end_index' is always excluded`

In [47]:
# First Three Elements
print(tuple1[:3])

# Second to Last Element
print(tuple1[1:])

# Third and Fourth Element
print(tuple1[2:4])

(1, 2, 3)
(2, 3, 4, 5)
(3, 4)

**Packing and Unpacking** Tuples

In [48]:
# "Packing" a Tuple means creating it
tuple3 = ("Berlin", "Hamburg", "Köln", "München")
print(tuple3)

('Berlin', 'Hamburg', 'Köln', 'München')

In [49]:
# "Unpacking" a Tuple means extracting Items back to Variables
(city1, city2, city3, city4) = tuple3
print(city1)
print(city2)
print(city3)
print(city4)

Berlin
Hamburg
Köln
München

`Note: Number of Variables must match Number of Items in the Tuple`

In [50]:
# Will raise an Error
(city1, city2, city3) = tuple3

ValueError: too many values to unpack (expected 3)

**Unpacking** Tuples using `*`

In [51]:
tuple4 = ("Berlin", "Hamburg", "Köln", "München", "London", "Madrid")
(*Deutschland, England, Spanien) = tuple4
print(Deutschland)
print(England)
print(Spanien)

['Berlin', 'Hamburg', 'Köln', 'München']
London
Madrid

**Join** Tuples using `+`

In [ ]:
tuple5 = (1, 2, 3)
tuple6 = ("A", "B", "C")
tuple7 = tuple5 + tuple6
print(tuple7)

**Return the Length (the Number of Items)** of a Tuple using `len`

In [ ]:
print(len(tuple6))
print(len(tuple7))

## `Dictionary`
* Mapping Type used to store Multiple Items in `key:value` Pairs
* Items in a Dictionary are **changeable**, but **Duplicates are not allowed**
* Dictionaries are written with Curly Brackets `{ }`

**Create** a Dictionary using `{key:value}`

In [ ]:
dict1 = {"Integer": 1, "Float": 1.0, "String": "1"}

print(dict1)
print(type(dict1))

Dictionaries **can not have Two or More Items with the same Key**

In [ ]:
dict2 = {"Integer": 1, "Integer": 1.0, "String": "1", "String": "Text"}

print(dict2)
print(type(dict2))

**Return all Keys** as a List using `keys`

In [ ]:
print(dict1.keys())

**Return all Values** as a List using `values`

In [ ]:
print(dict1.values())

**Return all Items** as a List of Tuples using `items`

In [ ]:
print(dict1.items())

**Access a Value** in a Dictionary

In [ ]:
print(dict1["Float"])

**Change a Value** in a Dictionary

In [ ]:
print(dict1)

dict1["String"] = "Text"

print(dict1)

**Add Items** to a Dictionary

In [ ]:
dict1["Added Key"] = "Added Value"
print(dict1)

**Remove Items** from a Dictionary using `pop`, `clear` or `del`

In [ ]:
# Remove Item by Specified Key
dict1.pop("Added Key")
print(dict1)

In [ ]:
# Remove all Items
dict1.clear()
print(dict1)

In [ ]:
# Delete Dictionary
del dict1
# Will raise Error because Dictionary doesn't exist anymore
print(dict1)

**Copy** a Dictionary using `copy`

In [ ]:
dict3 = dict2.copy()
print(dict2)
print(dict3)

**Return Length (Number of Items)** in a Dictionary using `len`

In [ ]:
print(len(dict2))